Open the file

In [3]:
import pandas as pd

pd.read_csv('data\\1raw\\animals_info new.csv')

,Name,Genus,Species,Kingdom,Subphylum,Class,Order,Family,Attributes
0,Grey Wolf,Canis,Canis lupus,Animalia,Vertebrata,Mammalia,Carnivora,Canidae,"Nocturnal,Carnivore,Scavenger,Terrestrial,Curs..."
1,Tiger,Panthera,Panthera tigris,Animalia,Vertebrata,Mammalia,Carnivora,Felidae,"Nocturnal,Carnivore,Cursorial,Terrestrial,Ambu..."
2,Brown Bear,Ursus,Ursus arctos,Animalia,Vertebrata,Mammalia,Carnivora,Ursidae,"Crepuscular,Omnivore,Terrestrial,Altricial,Nom..."
3,Blue Whale,Balaenoptera,Balaenoptera musculus,Animalia,Vertebrata,Mammalia,Artiodactyla,Balaenopteridae,"Carnivore,Piscivores,Aquatic,Precocial,Natator..."
4,Killer Whale,Orcinus,Orcinus orca,Animalia,Vertebrata,Mammalia,Artiodactyla,Delphinidae,"Diurnal,Carnivore,Aquatic,Precocial,Cosmopolit..."
...,...,...,...,...,...,...,...,...,...
29352,Sulphur-bearded reedhaunter,Cranioleuca,Limnoctites sulphuriferus,Animalia,0,Aves,Passeriformes,Furnariidae,"Terrestrial,Migrating,starts with"
29353,Jackson's pipit,Passeriformes,Motacillidae,African pipit,0,Animalia,Chordata,Aves,starts with
29354,Gabon forest robin,Passeriformes,Muscicapidae,Forest robin,0,Animalia,Chordata,Aves,starts with
29355,McConnell's spinetail,Synallaxis,Synallaxis macconnelli,Animalia,0,Aves,Passeriformes,Furnariidae,"Terrestrial,Not a migrant,starts with"
29356,Junín canastero,Asthenes,Asthenes virgata,Animalia,0,Aves,Passeriformes,Furnariidae,"Terrestrial,Not a migrant,starts with"