Open and Sort

In [12]:
import pandas as pd
import numpy as np

#open
db = pd.read_csv("data\\1raw\\Animal Dataset.csv")

#remove entry with missing data
db.replace("Not Evaluated", pd.NA, inplace=True)
db.replace("Not Applicable", pd.NA, inplace=True)

#function to replace valuz with there average or their value 
def replace_range_with_average(value):
    try :
        if "Up to" in value:
            value = value.replace("Up to ", "")
            try:
                value = float(value)
                return value
            except :
                return value
    except :
        pass
    if isinstance(value, str) and '-' in value:
        parts = value.split('-')
        try:
            numbers = [float(part.replace(",", "").strip()) for part in parts]
            return np.mean(numbers)
        except ValueError:
            return value 
    return value

#run the function on the data of db
db = db.applymap(replace_range_with_average)

#remove empty
db.dropna(inplace=True)

print(db)

                  Animal Height (cm) Weight (kg)             Color  \
0               Aardvark       117.5        52.5              Grey
1               Aardwolf        45.0        11.0      Yellow-brown
2       African Elephant       290.0      4350.0              Grey
3           African Lion        95.0       185.0               Tan
4       African Wild Dog        77.5        27.0      Multicolored
..                   ...         ...         ...               ...
197               Wombat       101.0        27.5       Brown, Gray
200                  Yak       150.0       850.0      Brown, Black
201  Yellow-Eyed Penguin        62.5         2.0     Yellow, White
203                Zebra       280.0       650.0      Black, White
204          Zebra Shark       330.0        32.0  Brown, Yellowish

    Lifespan (years)         Diet               Habitat  \
0               25.0  Insectivore  Savannas, Grasslands
1               11.0  Insectivore  Grasslands, Savannas
2               65.0    Herbivore      Savannah, Forest
3               12.0    Carnivore  Grasslands, Savannas
4               11.0    Carnivore             Savannahs
..               ...          ...                   ...
197              7.5    Herbivore   Forests, Grasslands
200             22.5    Herbivore             Mountains
201             20.0    Carnivore         Coastal Areas
203             22.5    Herbivore            Grasslands
204             27.5    Carnivore           Coral Reefs

                     Predators Average Speed (km/h)  \
0                Lions, Hyenas                   40
1              Lions, Leopards                 27.0
2                Lions, Hyenas                   25
3           Hyenas, Crocodiles                   58
4                Lions, Hyenas                   56
..                         ...                  ...
197  Dingoes, Tasmanian Devils                   20
200      Snow Leopards, Wolves                   24
201               Seals, Orcas                   25
203              Lions, Hyenas                   25
204                Larger Fish                   20

                 Countries Found Conservation Status           Family  \
0                         Africa       Least Concern  Orycteropodidae
1    Eastern and Southern Africa       Least Concern        Hyaenidae
2                         Africa          Vulnerable     Elephantidae
3                         Africa          Vulnerable          Felidae
4             Sub-Saharan Africa          Endangered          Canidae
..                           ...                 ...              ...
197                    Australia       Least Concern       Vombatidae
200      Himalayas, Central Asia       Least Concern          Bovidae
201                  New Zealand          Endangered     Spheniscidae
203                       Africa       Least Concern          Equidae
204          Indo-Pacific region          Endangered  Stegostomatidae

    Gestation Period (days) Top Speed (km/h) Social Structure  \
0                     225.0               40         Solitary
1                        90               40         Solitary
2                     650.0               40       Herd-based
3                     101.5               80      Group-based
4                        70               56      Group-based
..                      ...              ...              ...
197                   132.0               20         Solitary
200                   247.5               24      Group-based
201                    85.0               25         Solitary
203                   272.5               25      Group-based
204                    17.5               20         Solitary

    Offspring per Birth
0                     1
1                   3.5
2                     1
3         2-4 (usually)
4                  11.0
..                  ...
197                   1
200                30.0
201                   1
203                12.5
204                25.0

[151 rows x 16 columns]

C:\Users\perei\AppData\Local\Temp\ipykernel_29564\3644807234.py:33: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  db = db.applymap(replace_range_with_average)